/*
    FirstColor : #08526d
    SecondColor : #ec1c23
    SecondColor : #bfc6c9
    SecondColor : #8c8c8c
*/

/*Start upper bar*/
body {
    height: 3000px;
}

.upper-bar {
    background-color: #08526d;
    color: #FFF;
    padding: 10px;
}

.upper-bar .row {
    padding-left: 30px;
    padding-right: 30px;
}

.upper-bar span {
    color: #bfc6c9;
    padding: 8px;
}

.upper-bar span.get-quote {
    display: inline-block;
    border: 1px solid #ec1c23;
    padding: 2px 10px;
    margin-left: 8px;
}

/*End upper bar*/

/*Start NavBar*/
.navbar {
    padding-left: 30px;
    padding-right: 30px;
}

.navbar-brand > span {
    font-size: 36px;
}

.navbar-brand span:first-child {
    color: #08526d;
    font-weight: bold;
}

.navbar-brand span:last-child {
    color: #ec1c23;
}

.navbar-nav .nav-link {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #ec1c23;
}

.navbar-light .navbar-nav .nav-link {
    color: #08526d;
}

/*End NavBar*/

/*Start Slider*/
.carousel-inner {
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: left;
}

.slide .carousel-inner .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.carousel-inner h1 {
    position: absolute;
    font-size: 4vw;
    color: white;
    z-index: 2;
    line-height: 1.6;
    max-width: 900px;
    right: 30%;
    left: 15%;
}

.carousel-inner h1 span {
    display: inline-block;
    background-color: #ec1c23;
    padding: 0 10px;
}

/*End Slider*/

/*Start Features*/
.features {
    padding: 100px 0;
}

.features i {
    background-color: #ec1c23;
    color: #FFF;
    padding: 10px;
    margin-bottom: 15px;
}

.features h3 {
    font-size: 18px;
    color: #08526d;
}

.features p {
    color: #8c8c8c;
    margin-bottom: 30px;
}

/*End Features*/

/*Start company overview*/
.company {
    background-color: #eff2f3;
    padding: 100px;
}

.company h1 {
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
}

.company h4 {
    color: #8c8c8c;
    font-family: "Agency FB", serif;
}

.company p {
    font-size: 18px;
    color: #8c8c8c;
    line-height: 2;
}

.company button {
    text-transform: uppercase;
    background-color: #ec1c23;
    color: #FFF;
    border: none;
    font-size: 16px;
    padding: 5px 25px;
    margin-top: 20px;
    box-shadow: #8c8c8c;
}

/*Start featured work*/
.featured-work {
    margin-top: 70px;
    margin-bottom: 70px;
}

.featured-work h1 {
    font-weight: bold;
    color: #000;
}

.featured-work p {
    font-size: 18px;
    color: #8c8c8c;
    line-height: 2;
    margin: 20px 100px 50px;
}

.featured-work ul {
    margin: 10px;
}

.featured-work ul li {
    color: #08526d;
    background-color: #FFF;
    border: 2px solid #08526d;
    margin: 4px;
    padding: 10px 0;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.featured-work ul li.active,
.featured-work ul li:hover {
    background-color: #ec1c23;
    border: 2px solid #ec1c23;
    color: #FFF;
}

.featured-work .shuffle-images {
    margin: 50px 0;
}

.featured-work .shuffle-images .row{
    margin: 0;
}

.featured-work .shuffle-images .row .col-sm{
    padding: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.featured-work .shuffle-images .row img{
    width: 100%;
}

.featured-work ul li:hover{
    cursor: pointer;
}
/*End featured work*/
/*End Features*/

/*End Features*/



